params {
    spades_version = '3.12.0'
}

process {
    executor = 'slurm'
    queue = 'main'
    clusterOptions = '-A naiss2025-5-431'

    withName: 'SPADES' {
        container = '/cfs/klemming/home/x/xueyaw/xueyao/reference/containers/spades_3.12.0.sif'
    }
}

singularity {
    enabled = true
    autoMounts = true
}

executor {
    queueSize = 100
    submitRateLimit = '10 sec'
}
